.form-contact{
	margin-top:40px;
}

input.form-control{
	font-size:14px !important;
}
.page-contact .form-contact .form .error {
	color: #f42a3a;
}
@media only screen and (max-width : 640px) {
form .col-md-2{
	width:100% !important;
	text-align:left !important;
}

#zip_box .col-md-2{
	width:45% !important
}

#zip_box p{
	clear:both;
	display:block !important;
	padding:2% 5%;
	margin-bottom:0 !important;
}
}

