

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
/*body{
    font-family:"hirakakupro-w3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #000;
    line-height: 1.428571429;
    font-weight: 700;
}*/


p.note-one,.note-two{
    margin: 30px 0;
}
p.note-two a{
    color: 80C41C;
}
span.required{
    color: #f00;
    font-weight: 700;
}
.bg-fff{
    background: #fff!important;
}
.mg-top45{
    margin-top: 45px;
}
.mg-top25{
    margin-top: 25px;
}
.fixCen{width: 980px;margin: 0 auto;/* padding: 0 10px; */}

.pAbs{position:absolute}.pRel{position:relative}.pSta{position:static}
a{text-decoration:none;color: #000;
    transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
}
a:hover{color: #000;text-decoration:none}
.fBo{font-weight:bold}.fNo{font-weight:normal}.fSi{font-style:italic}.fSn{font-style:normal}

.pAbs{position:absolute}.pRel{position:relative}.pSta{position:static}
.fll{float:left}.flr{float:right}.fln{float:none}
.clr{clear:both;font-size:0}
.textAr{text-align:right}.textAc{text-align:center}.textAj{text-align:justify}.textAl{text-align:left}

input[type="checkbox"]{margin:0;vertical-align:-2px}button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner{border:0 !important;padding:0 !important}


/*----------------------Header----------------------*/
.header{}
.header_top {background: #99C74F;min-height: 40px;line-height: 40px;text-align: right;color: #fff}
.header_content {height: 125px;}

.top_menu {
}
.top_menu li{display: inline-block;margin: 0 5px;}
.top_menu li a{
    color: #fff;
}

.logo {position: absolute;top: 51px;}
.logo a {display:inline-block}
.logo a img {max-width:100%}

.form_search {position: absolute;right: 0;top: 50px;}
.form_search .input_search{border: solid 1px #000;width: 270px;padding: 5px;border-radius: 5px;height: 28px;font-size: 12px;outline: none;}
.form_search .input_btn{background: url(../imgs/btn_search.png) no-repeat 0 0 transparent;border: none;display: inline-block;width: 28px;height: 28px;vertical-align: -7px;cursor: pointer;}

.nav_top {background: #e5e5e5;border-top: solid 1px #99C74F;}
.nav_lst {display: flex;flex-wrap: wrap;}
.nav_lst li{width: calc(100%/6);text-align: center;height: 60px;}
.nav_lst li a{display: block;padding: 8px 0;border-right: solid 1px #fff;}
/*.nav_lst li:first-child a {border-left:solid 1px #fff;}
.nav_lst li a:hover {color: #99C74F;}*/

.wrap_nav-mobile {display: none}

#movie_box{
    height:500px;
    overflow:hidden;
}

.movie {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.movie iframe {
    position: absolute;
    top: -18%;
    left: 0;
    width: 100%;
    height: 100%;
}

/*--------------------- CSS Menu *--------------------------*/
.nav_lst li a {
    font-weight: 600; }

.nav_lst li a {
    padding: 1.6rem 0 0.55rem;
    line-height: 1.6rem;
    font-weight: 500;
    font-size: 1.6rem;
    font-family: 'Karla', 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ', Meiryo; }
.nav_lst li a span {
    font-size: 0.88rem; }

.nav_lst li:first-child a {
    border-left: 1px solid #fff; }

.nav_top .nav_lst li {
    position: relative;
    list-style: none; }
.nav_top .nav_lst li .sub-menu {
    background-color: #fff;
    padding-left: 0px;
    padding: 6px;
    padding-bottom: 0px;
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-transform: translateY(-2em);
    -ms-transform: translateY(-2em);
    transform: translateY(-2em);
    z-index: -1;
    transition: all 1s ease-in-out 0s, visibility 0s linear 1s, z-index 0s linear 0.05s; }
.nav_top .nav_lst li .sub-menu li {
    background-color: #fff;
    padding: 8px 10px;
    padding-right: 0px;
    list-style: none;
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 6px;
    border-bottom: 1px solid #d6deef; }
.nav_top .nav_lst li .sub-menu li a {
    color: #333;
    border-left: none;
    border-right: none;
    display: inline-block;
    font-size: 0.85rem;
    padding: 5px 10px; }
.nav_top .nav_lst li .sub-menu li a:hover {
    color: #000; }
.nav_top .nav_lst li .sub-menu li:last-child {
    border-bottom: none; }
.nav_top .nav_lst li .sub-menu li:before {
    font-family: "FontAwesome";
    content: "\f0da";
    display: inline-block;
    color: #fff; }
.nav_top .nav_lst li .sub-menu li:after {
    display: none; }
.nav_top .nav_lst li .sub-menu li:hover:before {
    font-family: "FontAwesome";
    content: "\f0da";
    display: inline-block;
    color: #000; }
.nav_top .nav_lst li .sub-menu li:hover a {
    color: #000; }

.nav_top .nav_lst li:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    margin-top: -2px; }

.nav_top .nav_lst li:hover:after {
    width: 100%;
    background: #F2A32A; }

.nav_top .nav_lst li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; }


/*==============End header=====================*/

/*--------------------- CSS Index --------------------------*/
.cf.fixCen {
    border-right: solid 1px #fff; }
.cf.fixCen.nav_lst {
    border-right: none; }
.cf.fixCen .featured_item {
    padding: 1.5625rem 0 1rem; }
.cf.fixCen .featured_item .featured_title {
    font-weight: 700; }
.cf.fixCen .featured_item .featured_des {
    font-size: 0.9rem; }

.featured_news .fixCen div:last-child {
    border-right: none; }

/*--------------------- CSS Back To Top --------------------------*/
#back-top {
    position: fixed;
    bottom: 115px;
    right: 30px;
    z-index: 99; }
#back-top .fa-angle-up {
    color: #99C74F;
    font-size: 40px;
    border-radius: 100%;
    padding: 2px 8.2px;
    border: 2px solid #99C74F;
    padding-top: 0px; }

/*end*/

/*banner- history*/
 .banner-history {
    background: #99C74F;
    text-align: center;
    color: #fff;
    padding: 60px 0px 40px;
    line-height: 15px; }
.banner-history .tit-history {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.main-history .banner-history .small {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
/*end banner history*/

 .supplier-produce {
    background: url(../imgs/bg-chem.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    margin-top: 5rem;
    text-align: center;
    /*background: url(../../images/chemical/bg-chem.jpg) no-repeat center;*/
 }
.supplier-produce p {
    font-weight: 600; }
 .supplier-produce .icon-center {
    padding-top: 2rem;
    position:relative ;
     z-index: 99;
     top: -1rem;
 }
.supplier-produce .content-supp {
    max-width: 540px;
    margin: auto;
    font-size: 1.6rem;
    text-align: left;
    font-family: Yu Gothic Bold;
    padding-bottom: 6rem;
;
}
.supplier-produce .content-supp table tr td {
    font-weight: 600;
    padding-right: 1rem;
    padding-bottom: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1.8rem; }

.supplier-produce:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    top: 0;
    border-top: 11rem solid #fff;
    border-left: 49.3vw solid transparent;
    border-right: 49.4vw solid transparent; }
.supplier-produce .content-supp p span{
    display: block;
}
.mg-bt{
    margin-bottom: 1.5rem;
}
/*end supplier*/

#wrapper{

}
.container{
    max-width: 990px;
    margin: 0 auto;
    padding: 0 ;
}
.img-chem-top{
    text-align: center;
    padding-top: 62px;
}
#main_chemical h2{
    width: 34%;
    height: 80px;
    margin: 0 auto;
    position: relative;
    top: 0;
    margin-top: 14px;
    z-index: 1;
    background: #fff;
    font-size: 2.1rem;
}
#main_chemical h2 span{

    color: #7BB420;
    display: block;
    text-align: center;
    font-weight: normal;
}
#main_chemical .main-content{
    border: 1.2rem solid #EBEAE6;
    padding: 52px 35px 0px;
    position: relative;
    top: -50px;
}
.main-content h3{
    color: #4FA0CA;
    font-size: 1.5rem;
}

.main-content h3 .dot-big{
    width: 15px;
    height: 15px;
    background: #4FA0CA;
    border-radius: 50%;
    float: left;
    margin-right: 2px;
}

.main-content h3 .title{
    float: left;
    margin-right: 40px;
}
.main-content h3 hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 2px dotted #4FA0CA;
    position: relative;
    top: 8px;
}
.main-content .des{
    margin-top: 10px;
    margin-bottom: 33px;
}
ul.list-img-01{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 42px;
    max-width: 560px

}

ul.rs{
    list-style: none;
}

ul.list-img-01 li{
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    width: 132px;
    height: 176px;
    overflow: hidden;
}
ul.list-img-01 li:last-child{

    margin-right: none;
}
/*ul.list-img-01 li:last-child{*/
     /*margin-right: -18px;*/
 /*}*/
ul.list-img-01 li img{
    max-width: 100%;
    max-height: 100%;
}
.main-content h4{
    font-size: 1.5rem;
    color: #80C41C;
    font-weight: 700;
    margin-bottom: 10px;
}
/*reset table bs3*/
.table>thead>tr>th{
    border-bottom: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: none;
}




@media screen and (min-width: 320px) and (max-width: 374px){

    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th{
        white-space: normal;
    }
    .table-responsive{
        overflow:visible;
        border: none;
    }
    #main_chemical h2{
        width: 100%;
    }

    ul.list-img-01 li{
        margin-right: 0;
        width: 100%;
    }
    .table tbody tr td{
        padding: 7px;
    }
    .main-content ul.list-img-02 li{
        width: 49%;
        margin-right: 0;
    }
    #tableFineChe tbody tr td:first-child{
        padding: 0;
    }
    #tableFineChe tbody tr td{
        padding-right: 3px;
        font-size: 1rem;
    }
    #main_chemical .main-content{
        border: none;
        padding: 52px 20px 0px;
    }
    .table thead tr th, .table tbody tr td{
        vertical-align: middle;
    }
    .main-content .coreTech{
        padding: 0;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px){

    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th{
        white-space: normal;
    }
    .table-responsive{
        overflow:visible;
        border: none;
    }
    #main_chemical h2{
        width: 100%;
    }
    #main_chemical .main-content{
        border: none;
        padding: 52px 20px 0px;
    }
    .table thead tr th, .table tbody tr td{
        vertical-align: middle;
    }
    ul.list-img-01 li{
        margin-right: 0;
        width: 100%;
    }
    .table tbody tr td{
        padding: 7px;
    }
    .main-content ul.list-img-02 li{
        width: 49%;
        margin-right: 0;
    }
    #tableFineChe tbody tr td:first-child{
        padding: 0;
    }
    #tableFineChe tbody tr td{
        padding-right: 3px;
        font-size: 1rem;
    }
    #main_chemical .main-content{
        border: none;
        padding: 52px 20px 0px;
    }
    .table thead tr th, .table tbody tr td{
        vertical-align: middle;
    }
    .main-content .coreTech{
        padding: 0;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th{
        white-space: normal;
    }
    .table-responsive{
        overflow:visible;
        border: none;
    }
    #main_chemical h2{
        width: 100%;
    }
    #main_chemical .main-content{
        border: none;
        padding: 52px 20px 0px;
    }
    .table thead tr th, .table tbody tr td{
        vertical-align: middle;
    }
    .table tbody tr td{
        padding: 7px;
    }
    .main-content ul.list-img-02 li{
        width: 49%;
        margin-right: 0;
    }
    #tableFineChe tbody tr td:first-child{
        padding: 0;
    }
    #tableFineChe tbody tr td{
        padding-right: 3px;
        font-size: 1rem;
    }
    #main_chemical .main-content{
        border: none;
        padding: 52px 20px 0px;
    }
    .table thead tr th, .table tbody tr td{
        vertical-align: middle;
    }
    .main-content .coreTech{
        padding: 0;
        font-size: 1.4rem;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 980px) {
    .fixCen{width: 100%;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 800px) {
    .nav_top {display: none}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .nav_mobile {
        display:block;
    }
    img {
        max-width:100%;
    }
    .logo{top: 10px;}
    .form_search {left: 10px;top: 70px;}

    .featured_news .fixCen > div {border-right: none;border-top: solid 1px #fff;}
    .featured_news .fixCen > div:first-child {border: none;}
    .only_pc{
        display:none;
    }
    .only_mb{
        display:block;
    }
    
    #movie_box{
        height:auto !important;
    }
    
    .group_links{
        padding:0 1%;
    }
    
    .news_caption{
        padding-bottom:50px;
    }
    .news_caption #news_right{
        top:50%;
        right:10%;
    }
    .footer_link {
        white-space: initial;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
    .section_main {width: 63%;}
    .sidebar {width: 35%;}
    .top_menu  {display: none}

    .section_main,
    .sidebar {float:none;width:100%}
    .section_main {margin:0 0 20px}
    .news_title {
        display: inline-block;
        margin-top: 5px;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .featured_thumb
    /*.featured_des*/ {display: none}
     .logo a img {
    max-width: 95%;
    padding: 10px; }
    ul.list-img-01{
        padding: 0rem 2rem;
    }
    ul.list-img-01 li{
        width: 50%;
        margin-bottom: 1.5rem;
    }
    .supplier-produce:before{
        content: initial;
    }
    .supplier-produce img.icon-center{
        padding-top: 0rem;
        top: -4rem;
        margin-top: -4.5rem;
    }
    .nav_lst li{
        height: auto;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}
@media only screen and (min-width : 1000px) {
    .pc_nowrap {
        white-space: nowrap;
    }
}
