.title-blue {
	font-weight: bold;
}

#table-chemical-technology-core table {
	border: solid 2px #CCCCCC;
}

#table-chemical-technology-core .core-box table thead th,
#table-chemical-technology-core .core-box table tbody tr td,
#table-chemical-technology-core .core-box-2 table thead th,
#table-chemical-technology-core .core-box-2 table tbody tr td {
    border: solid 1px #CCCCCC;
}

#table-chemical-technology-core .core-box table tbody tr td {
	padding:0.5rem;
}
